@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Karla';
  src: local('Karla');
}
@font-face {
  font-family: 'Inconsolata';
  src: local('Inconsolata');
} */
